/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FFFFFF;
}

#navbar {
	border-right: 2px dotted #EEAA88;
	position: fixed;
	width: 21%;
	height: 100%;
}

#rails-logo {
	display: block;
	max-width: 90%;
	height: auto;
}

#header-text {
	color: #CC0001;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 600;
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
}

#main-doc {
	position: relative;
	left: 23.5%;
	width: 70%;
	height: auto;
}


#nav-links-container {
	margin-top: 10%;
	margin-left: 4%;
	width: 97%;
	text-align: left;
}

.nav-link {
	color: #7e7e7e;
	text-decoration: none;
	font-size: 1.10em;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: 500;
}


.nav-link-container {
	margin-top: 20px;
}

.main-section {
	padding-top: 5%;
}

.section-header {
	font-size: 1.8em;
	font-weight: 600;
	margin-bottom: 2%;
	text-decoration: underline;
}


.section-sub-header {
	font-size: 1.2em;
	font-weight: 600;
	margin: 2% 0 2% 0;
}

.doc-paragraph {
	color:  #3e3e3e;
	line-height: 1.025em;
	font-size: 1.10em;
}

.doc-ul {
	margin: 2% 0 0 7%;
	width: 60%;
	list-style-type: square;
	list-style-position: outside;
}

.doc-ul li {
	padding-bottom: 0.080%;
	font-size: 0.90em;
}

.doc-ul strong {
	font-weight: 600;
}

.li-after-p {
	margin-bottom: 2%;
}


.code-box {
	color:  #2a2a2a;
	font-family: "Lucida Console", Monaco, monospace;
	width: 60%;
	border: 3px solid #6c7a89;
	background-color: #EEEEEE;
	margin: 5% 0 5% 2%;
	box-shadow: -5px -5px 2px 1px #6c7a89; 
}


.code-snippet {
	padding-left: 2%;
}

/* Media Queries */

@media (max-width: 450px) {
	#navbar {
		border: 2px dotted blue;
		top: 0;
		left: 0;
		position: relative;
		width: 95%;
		height: auto;
	}

	#main-doc {
		margin-top: 10%;
		display: block;
		position: relative;
		left: 5%;
		width: 90%;
	}
	
	#nav-links-container {
    margin-top: 5%;
	}

	.code-box{
		font-size: 3vw;
		word-wrap: normal;
		width: 98%;
		margin: 5% 0 5% 0%;
	}
}